.sticky 
{
	padding: .75ex !important;
	width: 600px !important;
	/*background-color: rgba(255,210,54,.5);*/
	color: #000 !important;
	font-size: 18px !important;
	z-index: 20000;

	/*pointer-events:none;*/
	border-radius: 1ex !important;
	line-height: normal !important;

	font-family: Arial !important;
	margin:0px ;
}

.stickyBtn
{
	/*pointer-events:all;*/
	transition: all .2s ease-out;
	margin:5px;
	font-size:90%;
	color: rgba(51, 51, 51, 1);
	float:right;
}

.stickyBtn:hover
{
	cursor: pointer;
	color: rgba(94, 33, 48, 1);
}

.sticky.stick 
{
	position: fixed;
	top: 0;
	right:40px;
	z-index: 2000000;
	border-radius: 0 0 0.5em 0.5em;
}